$tablet: 768px;
$mobile: 425px;

:root {
  --red: #ee1515;
  --yellow: #ffcb05;
  --blue: #3b4cca;
  --green: #7ac74c;
  --orange: #ee8130;
  --water-blue: #6390f0;
  --gray: #a6a6a6;
  --bulbasaur: #7ac74c;
  --charmander: #ee8130;
  --squirtle: #6390f0;
}
