$tablet: 768px;
$mobile: 425px;

:root {
  --red: #ee1515;
  --yellow: #ffcb05;
  --blue: #3b4cca;
  --green: #7ac74c;
  --orange: #ee8130;
  --water-blue: #6390f0;
  --gray: #a6a6a6;
  --grass: #7ac74c;
  --fire: #ee8130;
  --water: #6390f0;
  --poison: #a33ea1;
  --flying: #a98ff3;
}
