.choice {
  display: inline-block;
  border: 0.25em solid transparent;
  border-radius: 50%;
  margin: 2em;
  // padding: 2em 2.75em;
  height: 12em;
  width: 12em;
  position: relative;
  z-index: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  h3 {
    margin-top: 0.75em;
    color: #000;
    font-size: 1rem;
  }

  &:hover {
    cursor: pointer;
    transition: all 0.2s ease;

    h3 {
      color: #fff;
    }

    img {
      transform: scale(1.25);
    }
  }

  img {
    position: relative;
    z-index: -1;
    display: inline-block;
    border-radius: 50%;
    transition: 0.3s transform ease-in;
    max-width: 100%;
    height: auto;
  }
}

#bulbasaur {
  border-color: forestgreen;
  &:hover {
    border-color: #fff;
    background: forestgreen;
  }
}

#charmander {
  border-color: firebrick;
  &:hover {
    border-color: #fff;
    background: firebrick;
  }
}

#squirtle {
  border-color: royalblue;
  &:hover {
    border-color: #fff;
    background: royalblue;
  }
}
