@import './app/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}

body {
  background-color: #262632;
  color: #fff;
}
